{% extends "layouts/base.html" %} {% block title %} {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    #desc-c,
    #desc-htd,
    #desc-b {
        white-space: pre-line;
        line-height: 3em;
    }
</style>
{% endblock stylesheets %} {% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 id="name-page">
                                </h5>
                            </div>
                            <div class="card-block">
                                <iframe id="video" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="card-header">
                                <h5 id="name-htd">
                                    How to do?
                                </h5>
                            </div>
                            <div class="card-block">
                                <h6 id="desc-htd">
                                </h6>
                            </div>
                            <div class="card-header">
                                <h5 id="name-b">
                                    Benefits
                                </h5>
                            </div>
                            <div class="card-block">
                                <h6 id="desc-b">
                                </h6>
                            </div>
                            <div class="card-header">
                                <h5 id="name-c">
                                    Who should not do?
                                </h5>
                            </div>
                            <div class="card-block">
                                <h6 id="desc-c">
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var data = JSON.parse('{{allData | tojson}}');
    document.getElementById('name-page').innerHTML = data.sanskrit_name + "(" + data.english_name + ")";
    document.getElementById('video').src = data.video;
    document.getElementById('desc-c').innerHTML = data.contraindication;
    document.getElementById('desc-htd').innerHTML = data.howtodo;
    document.getElementById('desc-b').innerHTML = data.benefits;
</script>

{% endblock javascripts %}